* {
  box-sizing: border-box;
}

body {
  background-color: rgb(171, 182, 167);
}

hr {
  border: 0;
  border-top: 1px solid #000;
}

div {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 80px;
  font-family: "Cormorant Garamond", Arial, Helvetica, sans-serif;
  text-align: center;
  height: 100%;
  width: auto;
}

/* Style the button to open and close the collapsible content */
.collapsible {
  background-color: rgb(117, 124, 114);
  color: whitesmoke;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  font-family: "Marcellus", Arial, Helvetica, sans-serif;
}

.collapsible:hover {
  background-color: rgb(93, 99, 91);
}

.content {
  margin: 0;
  text-align: left;
  width: 100%;
  overflow: hidden;
  display: none;
  background-color: rgb(225, 237, 219);
  font-family: "Marcellus", Arial, Helvetica, sans-serif;
}

a:link {
  color: #1E130A;
  text-decoration: none;
}

a:visited {
  color: #1E130A;
}

div.content:hover {
  background-color: #1E130A;
  color: rgb(225, 237, 219);
}

div.content:hover a {
  color: rgb(225, 237, 219);
}

ul
{
  list-style-type:none;
  padding:0px;
  margin:0px;
}

.userresponse,
.designtemplate {
  border-radius: .5rem;
  text-align: center;
  padding: 10px;
  margin: auto;
  border: none;
  display: inline-block;
  width: 50%;
}

.buttondesign {
  display: block;
  border: 1.5px solid white;
  background-color: rgb(171, 182, 167);
  height: 50px;
  width: 25%;
  margin: 3em auto;
  cursor: pointer;
  font-family: commuters-sans, sans-serif;
  color: #f9f6ed;
  font-size: 0.9em;
  line-height: 0.9;
  font-weight: 400;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  line-height: 130%;
}

.space {
  margin-bottom: 4em;
  display: block;
}

img {
  max-width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
  font-size: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

tbody,
table,
th,
td {
  border: 1px solid;
  margin: 5px;
  padding: 5px;
  color: white;
  margin-left: auto;
  margin-right: auto;

}

.footer {
  width: 100%;
  text-align: center;
  padding: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}

#dropdownHere {
  display: block;
  text-align: center;
  margin: auto;
}

#result {
  font-size: 25px;
}

/* Create two equal columns that floats next to each other */

/*div.pizza {
  margin: 0px;
  border: 3px green solid;
  inline-size: 50em;
}

.pizza2 {
  inline-size: 300px;
  margin: 0px;
  position: fixed;
  right: 0;
  bottom: 0;
  border: 3px green solid;
}*/

.pizza2 {
  position: fixed;
  background: #eee;
  inline-size: 230px;
  overflow-x: hidden;
  text-decoration: none;
  font-size: 25px;
  color: #2196F3;
width: 300px;
height: 580px;
top: 20%;
left: 15%;
margin-top: -100px; /* Negative half of height. */
margin-left: -150px;
}

.pizza {
  display: flex;
  font-family: "Cormorant Garamond", Arial, Helvetica, sans-serif;
  justify-content: center;
  margin: 60px 0 20px 0;
}

div.pizza {
  margin-left: 140px; /* Same width as the sidebar + left position in px */
  font-size: 20px; /* increased text to enable scrolling */
  margin-top: 0; /* less space btwn title and form */
}

h1.pizza {
  margin-left: 260px;
}

@media screen and (max-height: 450px) {
  .pizza2 {padding-top: 15px;}
  .pizza2 div {font-size: 18px;}
}